@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* CUSTOM PROPS */
:root {
  --text-color: #fff;
  --bg-color: #000;
}

/* GENERAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

body {
  height: 100%;
  background-color: var(--bg-color);
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* header */
.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  margin: 0;
  font-size: 32px;
}

/* timer */
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.timer__time {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 320px;
  line-height: 1;
  user-select: none;
  cursor: grab;
}

.timer__controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.timer__btn {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 100%;
  overflow: hidden;
}

.timer__btn-img {
  width: 36px;
  aspect-ratio: 1 / 1;
  height: auto;
}

/* tablet-l */
@media only screen and (max-width: 1024px) {
  .timer__time {
    font-size: 250px;
    margin-bottom: 35px;
  }
}

/* tablet */
@media only screen and (max-width: 768px) {
  .timer__time {
    font-size: 210px;
    margin-bottom: 30px;
  }
}

/* mobile */
@media only screen and (max-width: 576px) {
  .timer__time {
    font-size: 160px;
    margin-bottom: 25px;
  }

  .header__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* mobile-s */
@media only screen and (max-width: 475px) {
  .timer__time {
    font-size: 120px;
    margin-bottom: 20px;
  }
}
